.post {
	border: 1px solid gray;
	border-radius: 0.25em;
	padding: 1em;
	margin-top: 1em;
}

.post-text {
font-family:'Merriweather', serif;
}

.post-author {
font-family: 'Squada One', cursive;
}

.post-date {
font-family:'Titillium Web', serif;
}