  
/* custom properties */

/* root is the top most element of the html page */
:root {
	/* monochomatic green color scheme */
	--main-color: #4DFFE1;
	--accent-color: #00CCAA;
	--placeholder-color: #268071;
}

:root {
	/* orange analagous color scheme */
	--main-color: #FFD908;
	--accent-color: #E8AF05;
	--placeholder-color: var (#FFC400);
}

button, input, textarea {
	background-color: var (#FFD908);
	border-color: var (#E8AF05);
	color: var (#FFC400);
}

button::placeholder, input::placeholder, textarea::placeholder {
	color: var (#00CCAA);
}

a {
	color: var (#00CCAA);
}

a:hover {
	color: var (#FFD908);
}

.post {
	border-color: var (#E8AF05);
}

#title {
	color: var (#00CCAA);
}