 
:root {
	 /*orange triad color scheme */
	--main-color: #0429b0;
	--accent-color: #5cfffc;
	--placeholder-color:#9fd2fc;
	
}



button, input, textarea {
	background-color: var(--main-color);
	border-color: var(--accent-color);
	color: var(--accent-color);
}

button::placeholder, input::placeholder, textarea::placeholder {
	color: var(--placeholder-color);
}

a {
	color: var(--accent-color);
}

a:hover {
	color: var(--main-color);
}

.post {
	border-color: var(--accent-color);
}

#title {
	color: var(--accent-color);
}